body {
	padding-top: 60px;
	padding-bottom: 40px;
	/* background-color: #f5f5f5; */
}

.container {
	padding-left: 20px;
	padding-right: 20px;
}

.form-signin {
	max-width: 400px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	   -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
			box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

img.contact-icon {
	padding: 2px 1px;
	opacity: 0.3;
	filter: alpha(opacity=30);
	height: 20px;
	width: 20px;
}

img.icon-login {
	/* padding: 2px 1px; */
	padding-bottom: 4px;
	opacity: 0.3;
	filter: alpha(opacity=30);
	height: 16px;
	width: 16px;
}

img.contact-icon-page {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.label {
	opacity: 0.9;
	filter: alpha(opacity=90);
	vertical-align: -1px;
	margin-left: 3px;
	margin-right: 3px;
}

.no_hover_underline:hover {
	text-decoration: none;
}

button.button-social-login {
	width: 260px;
	margin-top: 3px;
	margin-bottom: 3px;
	text-align: left;
}

span.social-name {
	vertical-align: middle;
	display: inline-block;
	width: 70px
}

img.small-img-rounded {
	border-radius: 4px;
}

.fb-like {
	width: 51px;
}

.fb-like iframe {
    width:51px!important;
}

.vert-middle {
	vertical-align: middle;
}

.vert-super {
	vertical-align: super;
}

.vert-sub {
	vertical-align: sub;
}

.vert-top {
	vertical-align: top;
}

.vert-bottom {
	vertical-align: bottom;
}

.field-ajax-status {
	display: none;
	float: right;
	padding-left: 5px;
	padding-top: 2px
}

.opacity-30 {
	opacity: 0.3;
	filter: alpha(opacity=30);
}

a.disabled {
  pointer-events: none
}

.ellipsis {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

table {
	table-layout: fixed;
}

table th, table td {
	overflow: hidden;
}

/*.brand img {
	padding-left: 10px;
	margin-top: -14px;
	margin-bottom: -8px;
	width: 25px;
	height: 25px;
}
*/
.person {
	height: 380px;
	padding-top: 10px;
	padding-bottom: 0;
}

.form-horizontal, form {
	margin-bottom: 0;
}

.form-horizontal .person-popup .control-label {
	width: 125px;
}

.form-horizontal .person-popup .controls {
	margin-left: 140px;
}

.form-horizontal .person-popup .control-group {
	height: 20px;
	margin-bottom: 20px;
}

img.user-login-popup-icon {
	width: 24px;
	height: 24px;
}
