
/* MAIN SETTING
========================================================================= */
body {
	width: 100%;
	height: 100%;
	font: 12px/19px Arial, sans-serif;
	background: #111 url('../images/body-bg.jpg') no-repeat 50% 0;
	color: #888887;
	min-width: 1000px;
}
a {
	color: #888887;
	text-decoration: none;
	cursor: pointer;
}
.main {
	width: 990px;
	margin: 0 auto;
}
.wrapper {
	width: 100%;
	overflow: hidden;
	position: relative;
}
.extra-wrap {
	display: block;
	overflow: hidden;
}
h2 {
	font: 700 31px/37px 'Open Sans', sans-serif;
	letter-spacing: -1px;
	color: #fff;
}
h3 {
	font: 600 33px/40px 'Open Sans', sans-serif;
	letter-spacing: -2px;
	color: #fff;
}
h4 a {
	font: 600 14px/22px 'Open Sans', sans-serif;
	color: #fff;
}
h4.f-2 a {
	font: 600 14px/22px 'Open Sans', sans-serif;
	color: #f7ef0f;
}
strong {
	font: 12px/19px Arial, sans-serif;
	color:#f7ef0f;
}
.fl-l {float: left;}
.fl-r {float: right;}

/* IDENT's
========================================================================= */
.ident-bot-1 {margin-bottom: 33px;}
.ident-bot-2 {margin-bottom: 9px;}
.ident-bot-3 {margin-bottom: 10px;}
.ident-bot-4 {margin-bottom: 16px;}
.ident-bot-5 {margin-bottom: 12px;}
.ident-bot-6 {margin-bottom: 7px;}
.ident-bot-7 {margin-bottom: 14px;}
.ident-bot-8 {margin-bottom: 19px;}
.ident-bot-9 {margin-bottom: 17px;}
.ident-bot-10 {margin-bottom: 18px;}
.ident-bot-11 {margin-bottom: 39px;}
.ident-bot-12 {margin-bottom: 30px;}
.ident-bot-13 {margin-bottom: 32px;}
.ident-bot-14 {margin-bottom: 23px;}
.ident-bot-15 {margin-bottom: 15px;}
.ident-bot-16 {margin-bottom: 25px;}
.ident-bot-17 {margin-bottom: 13px;}
.ident-bot-18 {margin-bottom: 37px;}

.ident-top-1 {margin-top: 39px;}
.ident-top-2 {margin-top: 7px;}
.ident-top-3 {margin-top: 4px;}

.ident-left-1 {margin-left: 30px;}

.ident-right-1 {margin-right: 21px;}
.ident-right-2 {margin-right: 33px;}

.inner-ident-1 {padding-right: 24px;}

.img-ident-1 {
	margin: 5px 18px 14px 0;
}
/* HEADER
========================================================================= */
h1 a {
	display: block;
	text-indent: -999em;
	width: 200px;
	height: 40px;
	background: url('../images/fenomenalno-logo.png') no-repeat;
	margin-top: 17px;
}
.slogan {
	font: 600 italic 17px/27px 'Open Sans', sans-serif;
	color:#fff;
	margin: 34px 0 0 10px;
	word-spacing:-1px;
}
.block-1 {
	color:#fff;
	font: 12px/17px 'Open Sans', sans-serif;
}
	.block-1 a {
		color: #f7ef0f;
	}
		.block-1 a:hover{
			text-decoration:underline;
		}
.block-2 {
	margin: 66px 0 0 776px;
}
	.block-2 img{
		margin: 2px 11px 0 0;
	}
.extra-10 {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
/* PRETTY PHOTO
========================================================================= */
/* Lightbox image */
.lightbox-image {
	position:relative;
	overflow:hidden;
	display:inline-block;
	}
	.lightbox-image img {
		position:relative;
		z-index:2;
		}
	#page1 .lightbox-image img {float:left;}
	.lightbox-image span {
		display:block;
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		background: #aacce1 url(../images/magnify.png) no-repeat 50% 50%;
		z-index:1;
		}

/* CONTENT
========================================================================= */
#content {
	padding: 23px 0 30px 0;
	background: #000 url('../images/content-bg.jpg') no-repeat 0 0;
}
.shadow {
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 4px 3px rgba(0,0,0,0.75);
	box-shadow: 0 0 4px 3px rgba(0,0,0,0.75);
}
.button {
	display:inline-block;
	color:#fff;
	font: 700 11px/25px 'Open Sans', sans-serif;
	padding: 0 14px;
	background: #1c1c1c url('../images/button-bg.jpg') repeat-x 0 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
}
.color-1 {
	color:#fff;
}
.color-2 {
	color:#4c4c4c;
}
.color-3 {
	color:#888887;
}
.font-1 a {
	font: 700 12px/19px 'Open Sans', sans-serif;
	color:#f7ef0f;
}
	.font-1 a:hover {
		text-decoration:underline;
	}
.block-3 {
	background: url('../images/block-bg.png');
	border-top: 1px solid #1d1d1d;
	padding: 13px 20px 23px 20px;
}
.block-4 {
	background: url('../images/block-bg.png');
	border-top: 1px solid #1d1d1d;
	padding: 37px 20px 16px 20px;
	background: #1e1e1e url('../images/extra.png') no-repeat 10px 26px;
}
.line {
	height: 1px;
	background: #000;
	overflow:hidden;
}
.line-2 {
	height: 1px;
	background: #262626;
	overflow:hidden;
}

.list-1 li {
	float:left;
	padding: 0 7px;
}
	.list-1 li:first-child {
		padding-left: 0;
	}
	.list-1 li a {
		font: 700 12px/27px 'Open Sans', sans-serif;
		color:#626262;
		letter-spacing: -1px;
	}
.list-2 li {
	background: url('../images/list-marker.png') no-repeat 0 10px;
	padding-left: 14px;
}
	.list-2 a {
		color:#fff;
		line-height: 30px;
	}
	
.list-3 li {
	background: url('../images/list-marker.png') no-repeat 0 4px;
	padding-left: 14px;
	padding-right: 18px;
	margin-bottom: 14px;
	line-height: 16px;
}
	.list-3 li a {
		color:#fff;
	}
.active-2 a {
	color:#fff !important;
}

.link-1 a {
	color:#f7ef0f;
}
	.link-1 a:hover {
		text-decoration:underline;
	}
.link-2:hover {
	color:#f7ef0f;
	text-decoration:underline;
}
.link-3 a {
	color:#fff;
}
.map-1 {
	width: 340px;
	height: 250px;
	margin-right: 30px;
	margin-top: 5px;
}

.index_table td{
	padding:4px;
}
.index_link {
	color:#F7EF0F;
}
.index_link 	a:hover {
	text-decoration:underline;
}
.red {
	color:red;
}
/* TABLE
======================================================================== */
.index_table {
	color: #fff;
	width:100%;
}
.index_table th {
	background: #1c1c1c url('../images/button-bg.jpg') repeat-x 0 0;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.index_table td {
	border-bottom: 1px solid #666;
	vertical-align: middle;
}
.index_table_font {
	padding-top:3px;
}
.td_center {
	text-align:center;
}

/* TM-SLIDER
========================================================================= */
.slider_holder {
	position:relative;
	overflow: hidden;
	width: 990px;
	height: 433px;
}
.slider {
	width: 990px;
	height: 250px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	background: #000;
	padding-top: 30px;
}
.banner{
	display: block;
	overflow: hidden;
	position: absolute;
	z-index:15;
	color: #fff;
	top: 270px;
	right: 0;
	width: 696px;
	height: 162px;
	cursor:pointer;
	cursor: hand;
}
.banner-inner-1{
	display: block;
	font: 600 41px/50px 'Open Sans', sans-serif;
	color: #fff;
	letter-spacing: -1px;
}
.banner-inner-2 {
	display: block;
	font: 700 52px/62px 'Open Sans', sans-serif;
	color:#fff;
	margin: -9px 0 0 90px;
	letter-spacing: -2px;
}
.banner-button {
	display: inline-block;
	width: 42px;
	height: 42px;
	background: #fbef0f;
	margin: 13px 0 0 -3px;
	background: url('../images/banner-button.png') no-repeat;
}
	.banner-button:hover {
		background: url('../images/banner-button.png') no-repeat 0 -42px;
	}
.pagination {
	position:absolute;
	bottom: 30px;
	left: 30px;
	z-index:60;
	width: 60px;
	overflow:hidden;
}
	.pagination li {
		float:left;
	}
		.pagination a {
			width: 16px;
			height: 16px;
			display: block;
			background: url('../images/pagination.png') no-repeat 0 0;
			margin-right: 4px;
		}
.pagination li.current a, .pagination  a:hover {
	background: url('../images/pagination.png') no-repeat 0 -16px;
}
			
/* SLIDER-2
========================================================================= */
.slider_holder-2 {
	position:relative;
	overflow: hidden;
	width: 930px;
	height: 523px;
}
.slider-2 {
	width: 772px;
	height: 523px;
	overflow: hidden;
	position: relative;
	z-index: 2;
	background: #fff;
	margin: 0 79px;
}

.prev {
	position:absolute;
	top: 285px;
	left: 10px;
	z-index:60;
	width: 36px;
	height: 54px;
	background: url('../images/prev.png') no-repeat 0 0;
}
	.prev:hover {
		background: url('../images/prev.png') no-repeat 0 -54px;
	}

.next {
	position:absolute;
	top: 285px;
	right: 10px;
	z-index:60;
	width: 36px;
	height: 54px;
	background: url('../images/next.png') no-repeat 0 0;
}
	.next:hover {
		background: url('../images/next.png') no-repeat 0 -54px;
	}
/* LISTs
========================================================================= */


/* FORM
========================================================================= */
dl {
	display: block;
	width: 174px;
}
dd span {
	float: right;
}
dl strong {
	display: block;
	color:#fff;
}
dt {
	color:#f7ef0f;
}
iframe {
	width: 352px;
	height: 237px;
	margin:0;
}
#confirm {
	position: relative;
	height: auto;
	padding-bottom: 26px;
}
#confirm  label {
	display: block;
	position: relative;
	width: 340px;
}
#confirm label {
	min-height: 41px;
}
#confirm  label.message {
	min-height: 229px;
}
#confirm input {
	display: block;
	margin: 0;
	outline: none;
	box-shadow: none !important;
	width: 315px;
	height: 30px;
	border: 1px solid #616161;
	color: #888887;
	font: 12px/21px Arial, sans-serif;
	background: url('../images/form-bg.png');
	padding: 0 10px;
}
#confirm textarea {
	display: block;
	margin: 0;
	padding: 8px 10px;
	outline: none;
	box-shadow: none !important;
	font: 12px/19px Arial, sans-serif;
	background: url('../images/form-bg.png');
	color: #888887;
	border: 1px solid #616161;
	width: 475px;
	height: 195px;
	resize: none;
	overflow: auto;
}
#confirm .empty, .error {
	font: 12px/20px Arial, sans-serif;
	color: #f7ef0f;
	position:relative;
	left: 12px;
	display:none;
}
#confirm .success {
	color:#fff;
	font: bold 12px/19px Arial, sans-serif;
	position:relative;
	left: 10px;
	display:none;
}
#confirm .btns {
	position: absolute;
	right: 0;
}
#confirm .btns a {
	margin-left: 15px;
}


/* FOOTER
========================================================================= */
footer {
	background: #000;
	padding-bottom: 20px;
	margin-bottom: 47px;
}
.policy {
	color: #fff;
	margin-top: 5px;
}
.policy a {
	color: #f7ef0f;
	margin-left: 20px;
}
.policy a:hover {
	text-decoration:underline;
}


/* NAVIGATION
========================================================================= */
/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu {
	line-height: 1.0;
}
.sf-menu ul {
	position: absolute;
	top: -999em;
	width: 10em; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width: 100%;
}
.sf-menu li:hover {
	visibility: inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float: left;
	position: relative;
}
.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left: 0;
	top: 41px; /* match top ul list item height */
	z-index: 99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left: 173px; /* match ul width */
	top: 0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top: -999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left: 10em; /* match ul width */
	top: 0;
}

/*** STYLIZATION ***/
nav {
	border-top: 1px solid #3f3f3f;
	border-bottom: 1px solid #000;
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
	background: #0e0e0e url('../images/menu-bg.jpg') repeat-x;
}
.sf-menu > li  {
	border-right: 1px solid #1a1a1a;
}
.sf-menu > li > a {
	font: 700 14px/40px 'Open Sans', sans-serif;
	color: #fff;
	padding: 0 21px 0 20px;
	letter-spacing: -1px;
	background: transparent;
}
.sf-menu > li.active > a, .sf-menu > li.sfHover > a {
	color: #f7ef0f !important;
	background: transparent;
}
.sf-menu ul {
	padding: 0;
	width: 173px;
	background: transparent;
}
.sf-menu > li li  {
	border: 1px solid #020202;
	border-top: none;
}
.sf-menu li li a {
	font: 600 10px/22px 'Open Sans', sans-serif;
	color: #747373;
	padding: 0 18px 0 18px;
	background: #2a2a2a;
}
.sf-menu  li li a:hover, .sf-menu > li li.active a, .sf-menu > li li.sfHover > a {
	background: #f7ef0f;
	color: #020202;
}
